# Blockchain Configuration
MUMBAI_URL=https://eth-sepolia.g.alchemy.com/v2/DG7pse7fHQj0R5Rvp59ES
PRIVATE_KEY=b4e8ba305bc57aee88693956c45954fa5541454a2f2f1b50ee0aadb68e528d33
ETHERSCAN_API_KEY=ACESE5YIAD4B5DP7XR5UHTFWD65JVJMKK2

# Twilio Configuration (for BE Dev 1)
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=whatsapp:+14155238886

# Database Configuration (for BE Dev 2)
DATABASE_URL=sqlite:///troc_service.db 